@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');


* {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(178, 175, 235);
}
.first-wrapper{
    background-color: whitesmoke;
    border: 2px solid red;
    display: grid;
    grid-auto-flow: column;

}

.logo {
    padding: 25px;
    display: flex;
    align-items: center;
    border: 2px solid red;
}
.logo-logo {
    height: 50px;
    width: 50px;
    
}
.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}
#search-bar {
    border: 2px solid black;;
    height: 1px;
    height: 25px;
    border-radius: 25px;
    padding-left: 8px;
    
}

.search-icon {
    height: 20px;
    width: 20px;
}